.container {
    padding-top: 40vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    
   
  }
  
 
  form {
    max-width: 50vw;
    padding: 20px;
    background-color: #A084E8;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label, input, button {
    margin-bottom: 10px;
    font-size: 3vw;
  }
  
  h1{
    background-color: #8BE8E5;
    font-size: 5vw;
  }
  
  @media screen and (max-width: 600px) {
    form {
      max-width: 90%;
    }
  }